api.crohmi.ml:443 {
    reverse_proxy app:8000

    tls {
        on_demand
    }
}

api.crohmi.seecs.nust.edu.pk:443 {
    reverse_proxy app:8000

    tls {
        on_demand
    }
}

www.crohmi.ml:443 {
    reverse_proxy http://web

    tls {
        on_demand
    }
}

crohmi.ml:443 {
    reverse_proxy http://web

    tls {
        on_demand
    }
}

http://111.68.101.17:80 {
    reverse_proxy http://web_previous
}
